<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/CastAmNow.UI/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/CastAmNow.UI/app.css" />
    <link rel="stylesheet" href="_content/CastAmNow.UI/CastAmNow.UI.bundle.scp.css" />
    <link rel="stylesheet" href="_content/Blazored.Modal/blazored-modal.css" />
    <ImportMap />
    <link rel="icon" type="image/png" href="_content/CastAmNow.UI/favicon.png" />
    <HeadOutlet />
    <title>Cast Am Now</title>
</head>

<body>
    <CastAmNow.UI.Routes @rendermode="@RenderMode.InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
